<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Result</title>
</head>
<body>
    <h2>Final Result</h2>
    <table border="2">
        <tr>
            {% for key in results.keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for value in results.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>
